{% extends 'board_games/base.html' %}
{% block content %}
<p>Loan a game</p>

{% if user.is_authenticated %}
<form action="{% url 'board_games:new_loan' %}" method='post'>
{% csrf_token %}
<label for="game">Select a game to loan:</label>
<select name="game" id="game">
{% for game in boardgames %}
<option value="{{ game.id }}">{{ game.name }}</option>
{% endfor %}
</select>
<button type="submit">Loan this game</button>
</form>
{% else %}
<p>Please log in to loan a game.</p>
{% endif %}
{% endblock content %}